@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-bold: #1dbb1dd9;
  --color-semibold: #1dbb1dd9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

main {
  background: radial-gradient(
    circle at 3% 3%,
    #ffdf00e6 0%,
    #f1eabc99 5%,
    #d5c5544d 8%,
    #aee0ede6 10%,
    #78beffcc 25%,
    #7fa2d7 40%,
    #a0bde1 95%,
    #68ac61 100%
  );
}

.btn {
  @apply px-3 py-2 bg-black text-white rounded-lg text-sm hover:opacity-80 transition;
}

.text-semibold-color {
  color: var(--color-semibold);
}

.text-bold-color {
  color: var(--color-bold);
}

p {
  color: #dbb88f;
}
